
{{# each products}}
    <div class="container">
    <div class="row">
        {{# each this}}
            <div class="col">
                <!--Card 1 -->
                <div class="card mt-5 bg-light" style="width: 18rem;">
                        <input type="image" class="card-img-top" src="{{path}}" alt="{{id}}" width="200" height="200">
                    <div class="card-body">
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="type">Type: {{type}}</li>
                        <li class="list-group-item" id="name">Name: {{name}}</li>
                        <li class="list-group-item" id="color">Color: {{color}}</li>
                        <li class="list-group-item" id="price">Price: ${{price}}</li>
                    </ul>
                    <div class="card-body">
                        <form action="/add-to-cart" method="post">
                            <input type="submit" value="Add to cart" class="btn btn-primary">
                        <input type="hidden" value="{{_id}}" name="objectid">
                        </form>
                    </div>
                </div>
                <!--Card 1 end-->
            </div>
        {{/each}}
    </div>
    </div>
{{/each}}


